body {
background: url(../images/SantasSack.Reindeer.png);
background-repeat: no-repeat;
background-size: 1100px 600px;
background-attachment: fixed;
background-position: -380px 350px;
z-index: 100;
}

.iwantthisbox {
background-color: #b44;
color: whitesmoke;
font-weight: 500;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 5px;
margin: 0 10px 10px 10px;
border-radius: 10px;
border-color: #b44444;
}


.santaitemproductname {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333333;
    max-width: 400px;
    padding: 10px;
    border-radius: 30px;
}

.santaitemproductcaption {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #404040;
    max-width: 400px;
    padding: 0 10px 10px 10px;
    border-radius: 30px;
}

.santaitemproductimage {
    height: 300px;
    width: auto;
    padding: 10px;
    border-radius: 50px;

}

.santaSackLet {
    background-position: 700px 350px;
    background-size: 200px 300px;
}