.santaselectbody {
background: url(../images/SantasSack.Reindeer.png);
background-repeat: no-repeat;
background-size: 600px 300px;
background-attachment: fixed;
background-position: -200px 540px;
z-index: 100;
}

.hide {
    display: none;
}

.iwantthisbox {
background-color: #b44;
color: whitesmoke;
font-weight: 500;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 5px;
margin: 0 10px 10px 10px;
border-radius: 10px;
border-color: #b44444;
z-index: 400;
}


.santaitemproductname {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333333;
    max-width: 400px;
    padding: 10px;
    border-radius: 30px;
}

.santaitemproductcaption {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #404040;
    max-width: 400px;
    padding: 0 10px 10px 10px;
    border-radius: 30px;
}

.santaitemproductimage {
    height: 300px;
    width: 300px;
    padding: 50px;
    border-radius: 50px;

}

.santaSackLet {
    background-position: 700px 350px;
    background-size: 200px 300px;
    z-index: 4000;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color:#212529;
    color: #DDDEDE;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    padding-bottom: 6%;
    margin-bottom: 0;
    border-top: 5px solid;
    border-top-color: #B44;
    z-index: 500;
}

.ourfooter {
    background-color: #212529;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.bestsellerheader {
    font-family: Dancing Script, sans-serif;
    font-size: 48px;
    color: #b44;
    padding: 20px;
}

.toyCategory {
    height: 300px;
    width: 400px;
    margin: 20px;
    border-radius: 10px;
}

.categorylabel {
    position: absolute;
    margin-top: 15%;
    margin-left: -30%;
    z-index: 400;
    background-color: #B44;
    color: #DDDEDE;
    border-radius: 5px;
    font-size: 26px;
    width: 402px;
    padding: 20px;
    font-family: Fredericka the Great, sans-serif;
    text-align: center;
}

.santaitembody {
    background: url(../images/SantasSack.Reindeer.png);
    background-repeat: no-repeat;
    background-size: 1100px 600px;
    background-attachment: fixed;
    background-position: -380px 270px;
    z-index: 100;
    }

.sendToSantaModal {
    position: fixed;
    top: 50px;
    left: 370px;
    z-index: 7000;
    background-color: #e6f2ff;
    width: 500px;
    height: 500px;
    border-color: teal;
    border-radius: 5px;


}

.santaListCompleteBtn {
    position: absolute;
    top: 400px;
    left: 350px;
}

    
    /* .iwantthisbox {
    background-color: #b44;
    color: whitesmoke;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 0 10px 10px 10px;
    border-radius: 10px;
    border-color: #b44444;
    } */
    
/*     
    .santaitemproductname {
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #333333;
        max-width: 400px;
        padding: 10px;
        border-radius: 30px;
    }
    
    .santaitemproductcaption {
        font-size: 16px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #404040;
        max-width: 400px;
        padding: 0 10px 10px 10px;
        border-radius: 30px;
    }
    
    .santaitemproductimage {
        height: 300px;
        width: auto;
        padding: 10px;
        border-radius: 50px;
    
    }
    
    .santaSackLet {
        background-position: 700px 350px;
        background-size: 200px 300px;
    } */
    
    /* .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100px;
        background-color:#212529;
        color: #DDDEDE;
        text-align: center;
        font-size: 14px;
        padding: 20px;
        padding-bottom: 6%;
        margin-bottom: 0;
        border-top: 5px solid;
        border-top-color: #B44;
    }
    
    .ourfooter {
        background-color: #212529;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
    } */
    
    /* Contact Page */
    
    .btn-team {
        background-color: #B44;
        color: #ffffff;
        border-radius: 5px;
    }
    
    #header{
        text-align: center;
        padding: 10px;
        margin: 20px 0px 20px 0px;
        background-color: #B44;
        opacity: 100%;
        border-radius: 5px;
        color: #DDDEDE;
        font-family: Dancing Script, sans-serif;
        font-size: 48px;
        height: 80px;
    }
    
    #formfirstname {
        margin: 0px;
        color: #212529;
    }
    
    #formlastname {
        margin-right: 30px;
        color: #212529;
    }
    
    .formtext {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: #212529;
    }
    
    #comment {
        height: 300px;
        color: #212529;
    }
    
    .santalistcontactbody {
        background: url(../images/SantasSack.SANTA1.png);
        background-repeat: no-repeat;
        background-size: 1000px 600px;
        background-attachment: fixed;
        background-position: 650px 240px;
        z-index: 100;
        }
    
    



